:root {
    --primary-color: #060A19;
    --secundary-color: #2E5175;
    --tertiary-color: #010204;
    --quaternary-color: #A8C5E5;
    --quinternary-color:#4091CD;
    --sextnary-color: #242934;
    --primary-font-color: white;
    --secundary-font-color: #274063;
    --main-font: Roboto, Arial, sans-serif;
}

/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo base do botão */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--quaternary-color);
    font-family: var(--main-font);
    cursor: pointer;
}

/* Mobile */
@media (max-width: 600px){

    /*HEADER*/
    header {
        background-color: var(--primary-color) ;
        padding: 1rem;
    }

    nav {
        display: block;
    }

    .menu-toggle {
        display: block;
        margin-left: 15rem;
    }

    .menu {
        display: none;
        list-style: none;
        margin-top: 1rem;
        margin-left: 15rem;
    }

    .menu.active {
        display: block;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu a {
        font-family: var(--main-font);
        font-size: 10pt;
        background-color: var(--quinternary-color);
        max-width: 200px;
        color: #4091CD;
        text-decoration: none;
    }

}

/*---------------------------------------DESKTOP----------------------------------------*/
@media (min-width: 1024px) {
    /* botão escondido no desktop */
    .menu-toggle {
        display: none;
        font-size: 24px;
        background: none;
        border: none;
        color: Var(--quaternary-color);
    }
}