:root {
    --primary-color: #060A19;
    --secundary-color: #2E5175;
    --tertiary-color: #010204;
    --quaternary-color: #A8C5E5;
    --quinternary-color:#4091CD;
    --sextnary-color: #242934;
    --primary-font-color: white;
    --secundary-font-color: #274063;
    --main-font: Roboto, Arial, sans-serif;
}

/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile */
@media (max-width: 600px){

    /*HEADER*/
    header {
        background-color: var(--primary-color) ;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        font-family: var(--main-font);
        font-size: 10pt;
        padding: 10px;
        margin-left: 17em;
        color:#4091CD;

    }

    .menu-toggle {
        display: block;
    }
}

/*---------------------------------------DESKTOP----------------------------------------*/
@media (max-width: 1024px) {
    /* botão escondido no desktop */
    .menu-toggle {
        display: none;
        font-size: 24px;
        background: none;
        border: none;
        color: white;
    }
}